.Task {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: var(--background-white-color);
  box-shadow: var(--common-element-shadow);
}

.Task:last-of-type {
  margin-bottom: 0;
}

.container {
  width: 100%;
  margin-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
  margin-bottom: 10px;
}

.titleInput {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  width: 500px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 0 1px 8px;
}

.description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  max-width: 700px;
  margin-bottom: 10px;
}

.input {
  display: block;
  width: 500px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  padding: 0 1px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
}

.deadline {
  display: flex;
  margin: 0;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
}

.deadline:hover::after {
  margin-left: 5px;
  content: "Дедлайн!!!";
  display: block;
  background-color: var(--system-magenta-color);
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  border-radius: 5px;
}

.footer {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  margin-right: 10px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 767.98px) {
  .title {
    max-width: 200px;
    margin-right: 10px;
  }

  .container {
    margin-left: 10px;
  }

  .deadline {
    font-size: 12px;
  }
}
