.Checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.input:checked + span {
  background: url("../../imges/checkbox-checked.svg") center no-repeat;
}

.checkboxVisible {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../../imges/checkbox.svg");
}
